/* .modal-content {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
  }

  
  #loginModal {
    margin-top: 70px; 
  }

  #signupModal{
    margin-top:70px ;
  }


  
.modal-header {
    display: flex;
    align-items: center;
    color: #fff;
  }


  .modal-body{
    color: #fff;
   
  }


  .modal-body .form-control {
    padding: 5px;
  }

  
  .nav.nav-tabs {
    flex: 1;
  }
  
  .nav.nav-tabs .nav-item {
    flex: 1;
    text-align: center;
  }
  
  .nav.nav-tabs .nav-link {
    width: 100%;
  }
  
  .close {
    margin-left: auto;
    color: white;
  }




 


  .login-button {
    position: absolute;
    top: 50%;
    left: 20%;
    margin-right: 10px;
    transform: translateY(-50%);
    border-radius:7px ;
    
    
  }

  button.btn-primary {
    background-color: #666569; 
    color: white;
    border-color: #fff;
  }






  


  .modal-dialog {
    max-width: 400px;
    margin: 30px auto;
    max-height: 20px;
   
  } */
